<h1 class="text-center">New Transaction</h1>

<%= render "form", entity: @entity %>

<br>

<div class="text-center">
  <%= link_to "Back to cartegories", groups_path, class: "btn btn-primary" %>
</div>
