<div id="<%= dom_id group %>" class="container d-flex justify-content-around">

    <p>
        <%= group.icon %>
    </p>

    <p>
      <%= group.name %>
    </p>

    <p class="card-text">Total Amount : $ <%= group.entities.sum(:amount) %></p>
</div>
