<div class="flex-row m-5">
  <h1>New group</h1>

  <%= render "form", group: @group %>

  <br>

  <div>
    <%= link_to "Back to groups", groups_path %>
  </div>
  <%= link_to "Back to home", root_path %>
<div>
  
