<div class="navcontain bg-primary">
    <span class="title">TBðŸ’°</span>
    <nav class="navv">
        
        <ul class="navist">
        <%if user_signed_in? %>
            <li class="namelist">Hello!, <%= @users%> ðŸ‘¤</li>
            <li class="listbtn"><%= button_to "Sign Out ðŸšª", destroy_user_session_path,  class: "listbtn", method: :delete%></li>
            <%else%>
            <li><%= link_to "Sign Up ðŸ“", new_user_registration_path, class: 'nav-link btn btn-primary' %></li>
            <li><%= link_to "Sign In ðŸ”‘", new_user_session_path, class: 'nav-link btn btn-primary' %></li>
        <%end%>
        </ul>
        
    </nav>
</div>